


ul.menu.menu-horizontal

    li
        a.regular
            color: black
        &:hover,
        &:focus,
        &:active
            a.regular
                background-color: #F6F6F8!important
                color: black!important
